.profile-img {
  border-radius: 50%;
  object-fit: cover;
  height: 250px;
  margin: 20px;
}

.bio-container {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.social-icon {
  height: 50px;
  margin: 5px;
}

.social-icon:hover {
  transform: scale(1.1);
}

.main-card {
  padding: 16px;
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: auto;
  margin: 70px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}
