body {
  background: #f9f9f9;
  color: #0e171c;
  font: 300 100%/1.5em 'Lato', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0.25em 0;
}

h2 .accent-h2 {
  color: #d6d6d6;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0.33em 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  height: 538px;
  left: 50%;
  margin: -255px 0 0 -245px;
  position: absolute;
  top: 50%;
  width: 510px;
}

/* ---------- CALENDAR ---------- */

.calendar {
  text-align: center;
}

.calendar header {
  position: relative;
}

.calendar h2 {
  text-transform: uppercase;
}

.calendar thead {
  font-weight: 600;
  text-transform: uppercase;
}

.calendar tbody {
  color: #7c8a95;
}

.calendar tbody td:hover {
  border: 2px solid #1fa3ec;
}

.calendar td {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  width: 4em;
}

.calendar .heart {
  position: relative;
  /* width: 100px;
  height: 90px; */
}
.calendar .heart:before,
.calendar .heart:after {
  position: absolute;
  content: '';
  left: 34px;
  top: 0;
  width: 34px;
  height: 54px;
  /* background: red; */
  border-top: 1px solid black;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.calendar .heart:before {
  border-left: 1px solid black;
  border-top-right-radius: 1px solid black;
}
.calendar .heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  border-right: 1px solid black;
}

.calendar .prev-month,
.calendar .next-month {
  color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
  border: 2px solid #cbd1d2;
}

.current-day {
  background: #1fa3ec;
  color: #f9f9f9;
}

.event {
  cursor: pointer;
  position: relative;
}

.event:after {
  background: #1fa3ec;
  border-radius: 50%;
  bottom: 0.5em;
  display: block;
  content: '';
  height: 0.5em;
  left: 50%;
  margin: -0.25em 0 0 -0.25em;
  position: absolute;
  width: 0.5em;
}

.event.current-day:after {
  background: #f9f9f9;
}

.btn-prev,
.btn-next {
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  color: #cbd1d2;
  height: 2em;
  font-size: 0.75em;
  line-height: 2em;
  margin: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
  background: #cbd1d2;
  color: #f9f9f9;
}

.btn-prev {
  left: 6em;
}

.btn-next {
  right: 6em;
}

.cursive {
  font-family: 'Titan One', cursive;
}

/* Button */
.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  background-color: #aaa;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.button:hover {
  opacity: 0.85;
}

.button:active {
  box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
  outline: thin dotted #444;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button-primary {
  background-color: #1fa3ec;
}
