.card {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 85%;
  max-width: 500px;
  background: white;
  padding: 0 10px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  text-align: center;
}

.card .cover {
  margin-top: 20px;
  width: 85%;
  max-width: 450px;
  position: relative;
  z-index: 2;
}

.card .shrub {
  max-width: 150px;
  max-height: 250px;
  width: 30%;
  height: 40%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.card .shrub1 {
  max-width: 150px;
  max-height: 250px;
  width: 30%;
  height: 40%;
  position: absolute;
  right: 0;
  top: 0;
}

.card .card-text {
  margin-top: 5px;
  margin-bottom: 3px;
}

.text {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 80px;
  z-index: 2;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Hind Guntur', sans-serif;
  letter-spacing: 3.5px;
  line-height: 20px;
  color: #434343;
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
  line-height: 20px;
  color: #434343;
}

.cursive {
  font-size: 20px;
  font-family: 'Tangerine', cursive;
  letter-spacing: 3px;
  color: #434343;
}
